In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
air_pass = pd.read_csv('./AirPassengers.csv')
air_pass.rename(columns={'Month':'Date', '#Passengers':'Passenger'}, inplace=True)

air_pass.head()

      Date  Passenger
0  1949-01        112
1  1949-02        118
2  1949-03        132
3  1949-04        129
4  1949-05        121